{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<!-- /snippets/social-sharing.liquid -->
{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{% comment %}ly_code_replace_for_[ article.title | url_param_escape ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation | url_param_escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{% comment %}ly_code_replace_for_[ product.title | url_param_escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | url_param_escape }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
{% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless langify_shop_description == blank %}{{ langify_shop_description | url_param_escape }}{% else %}{{ langify_shop_name | url_param_escape }}{% endunless %}{% endcapture %}
{% else %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{{ langify_description | url_param_escape }}{% endcapture %}
{% endif %}

<div class="social-sharing grid medium-up--grid--table" data-permalink="{{ permalinkURL }}">
  {% unless center_icons %}
    <div class="grid__item medium-up--one-third medium-up--text-left">
      <span class="social-sharing__title">{% comment %}ly_i18n_replace_for_[ 'general.social.share_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.share_title' | t }}{% endcapture %}{% include 'ly-static-string' with '6316408' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    </div>
  {% endunless %}
  <div class="grid__item {% if center_icons %}text-center{% else %}medium-up--two-thirds medium-up--text-right{% endif %}">
    {% if settings.share_facebook %}
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="social-sharing__link share-facebook">
        {% include 'icon-facebook' %}
        <span class="share-title visually-hidden">{% comment %}ly_i18n_replace_for_[ 'general.social.share_on_facebook' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.share_on_facebook' | t }}{% endcapture %}{% include 'ly-static-string' with '6316409' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
      </a>
    {% endif %}

    {% if settings.share_twitter %}
      <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}" class="social-sharing__link share-twitter">
        {% include 'icon-twitter' %}
        <span class="share-title visually-hidden">{% comment %}ly_i18n_replace_for_[ 'general.social.share_on_twitter' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.share_on_twitter' | t }}{% endcapture %}{% include 'ly-static-string' with '6316410' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
      </a>
    {% endif %}

    {% if template contains 'product' %}

      {% if settings.share_pinterest %}
        <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | product_img_url: '1024x1024' }}&amp;description={{ shareTitle }}" class="social-sharing__link share-pinterest">
          {% include 'icon-pinterest' %}
          <span class="share-title visually-hidden">{% comment %}ly_i18n_replace_for_[ 'general.social.share_on_pinterest' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.share_on_pinterest' | t }}{% endcapture %}{% include 'ly-static-string' with '6316411' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </a>
      {% endif %}

      {% if settings.share_fancy %}
        <a target="_blank" href="//fancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | product_img_url: '1024x1024' }}" class="social-sharing__link share-fancy">
          {% include 'icon-fancy' %}
          <span class="share-title visually-hidden">{% comment %}ly_i18n_replace_for_[ 'general.social.share_on_fancy' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.social.share_on_fancy' | t }}{% endcapture %}{% include 'ly-static-string' with '6316412' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </a>
      {% endif %}

    {% endif %}

    {% if settings.share_google %}
      <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="social-sharing__link share-google">
        {% include 'icon-google-plus' %}
        <span class="share-title visually-hidden">+1</span>
      </a>
    {% endif %}
  </div>
</div>
