{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if cart.item_count > 0 %}

  <h1 class="small--text-center">{% comment %}ly_i18n_replace_for_[ 'cart.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '3334966' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
  <form action="/cart{% comment %}ly_checkout_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign checkout_code = shop.metafields.language_codes[language] %}{% if checkout_code %}{% assign checkout_code = '?locale=' | append: checkout_code %}{{ checkout_code }}{% endif %}{% comment %}ly_checkout_end{% endcomment %}" method="post" novalidate class="cart">
    <table class="responsive-table cart-table">
      <thead class="cart__row visually-hidden">
        <th colspan="2">{% comment %}ly_i18n_replace_for_[ 'cart.label.product' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.label.product' | t }}{% endcapture %}{% include 'ly-static-string' with '3334967' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        <th>{% comment %}ly_i18n_replace_for_[ 'cart.label.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.label.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '3334968' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        <th>{% comment %}ly_i18n_replace_for_[ 'cart.label.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.label.total' | t }}{% endcapture %}{% include 'ly-static-string' with '3334969' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
      </thead>
      <tbody id="CartProducts">
        {% for item in cart.items %}
          <tr class="cart__row responsive-table__row">
            <td class="cart__cell--image text-center">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                <img src="{{ item | img_url: 'medium' }}" alt="{% comment %}ly_code_replace_for_[ item.title | escape ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h5">
                {% comment %}ly_code_replace_for_[ item.product.title ]_begin{% endcomment %}{% include 'ly-title' with item.product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <p>{% comment %}ly_code_replace_for_[ item.variant.title ]_begin{% endcomment %}{% include 'ly-title' with item.variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
              {% endunless %}

              {% if settings.product_vendor_enable %}
                <p>{% comment %}ly_code_replace_for_[ item.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with item %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
              {% endif %}
              
              {% if settings.product_stock_enable and item.variant.inventory_management and item.variant.inventory_quantity <= 0 and item.variant.incoming %}
                {% assign date = item.variant.next_incoming_date | date: format: 'month_day_year' %}
                <p><small>{% comment %}ly_i18n_replace_for_[ 'products.product.will_not_ship_until' | t: date: date ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.will_not_ship_until' | t: date: date }}{% endcapture %}{% include 'ly-static-string' with '3334971' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = date  %}{% assign ly_template = ly_template | replace: '[[date]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</small></p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                Line item properties come in as having two parts. The first part will be passed with the default form,
                but p.last is the actual custom property and may be blank. If it is, don't show it.

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% assign first_character_in_key = p.first | truncate: 1, '' %}
                  {% unless p.last == blank or first_character_in_key == '_' %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}
            </td>
            <td class="cart__cell--quantity">
              <label for="Updates_{{ item.id }}" class="cart__quantity-label medium-up--hide">{% comment %}ly_i18n_replace_for_[ 'cart.label.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.label.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '3334968' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
              <input type="number" name="updates[]" id="Updates_{{ item.id }}" class="cart__quantity" value="{{ item.quantity }}" min="0" data-line="{{ forloop.index }}">
            </td>
            <td class="cart__cell--total">
              {% if item.original_line_price != item.line_price %}
                <small class="cart-item__original-price cart__item-total"><s>{% assign geolizr_price =  item.original_line_price  %}{% include 'geolizr-currency' with geolizr_price %}{{ item.original_line_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</s></small><br>
              {% endif %}
              <span class="cart__item-total">
                {% assign geolizr_price =  item.line_price  %}{% include 'geolizr-currency' with geolizr_price %}{{ item.line_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
              </span>
              {% for discount in item.discounts %}
                <p class="cart-item__discount cart__item-total">{% comment %}ly_code_replace_for_[ discount.title ]_begin{% endcomment %}{% include 'ly-title' with discount %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="grid cart__row">
      {% if settings.cart_notes_enable %}
        <div class="grid__item medium-up--one-half">
          <label for="CartSpecialInstructions">{% comment %}ly_i18n_replace_for_[ 'cart.general.note' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.note' | t }}{% endcapture %}{% include 'ly-static-string' with '3334972' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <textarea name="note" id="CartSpecialInstructions" class="cart__note">{{ cart.note }}</textarea>
        </div>
      {% endif %}
      <div class="grid__item cart__buttons text-right small--text-center{% if settings.cart_notes_enable %} medium-up--one-half{% endif %}">
        <p class="h3 cart__subtotal" id="CartSubtotal">{% assign geolizr_price =  cart.total_price  %}{% include 'geolizr-currency' with geolizr_price %}{{ cart.total_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</p>
        <p id="cartDiscountTotal">
        {% if cart.total_discounts > 0 %}
          {% assign geolizr_price =  cart.total_discounts  %}{% include 'geolizr-currency' with geolizr_price %}{% assign savings = cart.total_discounts | money | prepend: geolizr_prepend_code | append: geolizr_append_code %}
          {% comment %}ly_i18n_replace_for_[ 'cart.general.savings_html' | t: price: savings ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.savings_html' | t: price: savings }}{% endcapture %}{% include 'ly-static-string' with '3334974' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = savings  %}{% assign ly_template = ly_template | replace: '[[price]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% endif %}
        </p>
        <p class="cart__taxes">{% comment %}ly_i18n_replace_for_[ 'cart.general.shipping_at_checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.shipping_at_checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '3334975' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        <input type="submit" name="update" class="btn--secondary update-cart" value="{% comment %}ly_i18n_replace_for_[ 'cart.general.update' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.update' | t }}{% endcapture %}{% include 'ly-static-string' with '3334976' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        <input type="submit" name="checkout" class="btn" value="{% comment %}ly_i18n_replace_for_[ 'cart.general.checkout' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.checkout' | t }}{% endcapture %}{% include 'ly-static-string' with '3334977' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
      </div>
    </div>
  </form>
{% else %}
  <div class="page-empty text-center">
    <h1>{% comment %}ly_i18n_replace_for_[ 'cart.general.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.title' | t }}{% endcapture %}{% include 'ly-static-string' with '3334966' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>
    <p>{% comment %}ly_i18n_replace_for_[ 'cart.general.empty' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.empty' | t }}{% endcapture %}{% include 'ly-static-string' with '3334978' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
    <hr>
    <p>
      <a href="/collections/all" class="btn">{% comment %}ly_i18n_replace_for_[ 'cart.general.continue_browsing' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.general.continue_browsing' | t }}{% endcapture %}{% include 'ly-static-string' with '3334979' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
    </p>
  </div>
{% endif %}

<script id="CartProductTemplate" type="text/template">
  {% raw %}
    {{#items}}
    <tr class="cart__row responsive-table__row">
      <td class="cart__cell--image text-center">
        <a href="{{ url }}" class="cart__image">
          <img src="{{ img }}" alt="{{ name }}">
        </a>
      </td>
      <td>
        <a href="{{ url }}" class="h5">
          {{{ name }}}
        </a>
        {{#if variation}}
          <p>{{variation}}</p>
        {{/if}}

        {% endraw %}{% if settings.product_vendor_enable %}{% raw %}
          <p>{{ vendor }}</p>
        {% endraw %}{% endif %}{% raw %}

        {{#properties}}
          {{#each this}}
            {{#if this}}
              <p>{{@key}}: {{this}}</p>
            {{/if}}
          {{/each}}
        {{/properties}}
      </td>
      <td class="cart__cell--quantity">
        <label for="Updates_{{ id }}" class="cart__quantity-label medium-up--hide">
          {% endraw %}{% comment %}ly_i18n_replace_for_[ 'cart.label.quantity' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.label.quantity' | t }}{% endcapture %}{% include 'ly-static-string' with '3334968' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>{% raw %}
        <input type="number" name="updates[]" id="Updates_{{ id }}" value="{{ itemQty }}" min="0" data-line="{{ line }}">
      </td>
      <td class="cart__cell--total">
        {{#if discountsApplied}}
          <small class="cart-item__original-price cart__item-total"><s>{{{linePrice}}}</s></small><br>
          <span class="cart__item-total">{{{originalPrice}}}</span>
        {{else}}
          <span class="cart__item-total">{{{linePrice}}}</span>
        {{/if}}
        {{#if discountsApplied}}
        {{#each discounts}}
          <p class="cart-item__discount cart__item-total">{{ this.title }}</p>
          {{/each}}
        {{/if}} 
      </td>
    </tr>
    {{/items}}
  {% endraw %}
</script>

<script>
  // Hold on to current cart object to check against
  // available inventory before updating cart in
  // quantity-selectors.js
  window.cartObject = {{ cart | json }};
</script>
